.signup{
    height: 100%;
}

.signup-container{
    border: 1px solid var(--color-border-default);
    font-size: 16px;
    padding: 24px;
    margin: 24px;
}

.signup-form{
    position: relative;
    display: block;
}
.signup-text{
    font-weight: 600;
}