:root{
    --margin-contant-left:10px;
}

.notice {
    height: 100%;
}

.notice-contain{
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.view-writing{
    padding: 1rem;
}

.input-title-group{
    display: flex;
}

.input-title, .input-writer-title{
    margin-right: 1rem;
}

.form-input-title{
    width:30%;
    max-width: 30%;
    min-width: 30%;
}

.input-writer{
    display: flex;
    margin:auto;
    margin-left: 50rem;
    vertical-align: center;
}

.input-writer-name{
    margin: 0.5rem;
}